### Importing Libraries

In [1]:
import pandas as pd

### Data Ingestion
### Scraping table using Pandas read_html

In [2]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]
df.head(8)

  Postal Code           Borough                                 Neighborhood
0         M1A      Not assigned                                 Not assigned
1         M2A      Not assigned                                 Not assigned
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
7         M8A      Not assigned                                 Not assigned

### Exploring Data Set briefly

In [3]:
df.describe(include='all')

       Postal Code       Borough  Neighborhood
count          180           180           180
unique         180            11           100
top            M1Z  Not assigned  Not assigned
freq             1            77            77

### Only Rows with borough not equal to 'Not assigned'

In [4]:
newdf = df[df['Borough']!='Not assigned']

### Checking change in rows before and after deleting 'Not assigned' from Borough

In [5]:
print(len(df))
print(len(newdf))

180
103

### Checking rows with Neighborhood equal to ''Not assigned

In [6]:
check = newdf[newdf['Neighborhood']=='Not assigned']
check
print(len(check))

0

### No row found where Neighborhood is equal to 'Not assigned'